$font-family_cabin: "Cabin";
$font-family_raleway: "raleway";
$color-background: #f7ede2;
$color-primary-1: #f5896d;
$color-primary-2: #05131c;
$color-primary-3: #0081df;
$color-primary-4: #888;
$color-primary-5: #ff715f;
$color-primary-6: #212121;
$color-primary-7: #555;
$color-primary-8: #299eff;
$color-primary-9: #ffffff;
$color-card-backgroung: #fbf8f5;
